Vietnamese Historical Claim Verification Using Evidence Retrieval and Large Language Models (1).docx

Vietnamese Historical Claim Verification Using Evidence Retrieval and Large Language Models.docx

/corpus

/dataset

README.md

.vscode/

.git

